<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DownUpLoadMapper">

    <insert id="insertfile" parameterType="pd">
        INSERT t_file
        (
        conid,
        fname,
        furl,
        times,
        remark
        )VALUES (
        #{conid},
        #{fname},
        #{furl},
        #{times},
        #{remark}
        )
    </insert>
    
    <select id="getFile" parameterType="pd" resultType="pd">
        SELECT conid,fid,fname,furl,times,remark FROM t_file WHERE conid=#{conid}
    </select>

    <select id="getTimes" parameterType="pd" resultType="pd">
        SELECT conid,fid,fname,furl,times,remark FROM t_file WHERE times=#{times}
    </select>

    <delete id="deleteFile" parameterType="pd">
        DELETE FROM t_file
        WHERE fid=#{fid}
    </delete>
</mapper>