<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SellMapper">

    <!-- 字段 -->
    <sql id="Contract">
        conid,
        cno,
        pno,
        clino,
        conno,
        signtime,
        purno,
        asign,
        bsign
    </sql>
    <sql id="Contmon">
        conmid,
        conid,
        consmon,
        conamon,
        connmon,
        paymet,
        paymon,
        paytime
    </sql>
    <sql id="Invmon">
        invsmon,
        invmid,
        conid,
        invtime,
        invamon,
        invcontent,
        tax,
        invnmon,
        paymon
    </sql>
    <sql id="Busimon">
        busimid,
        conid,
        busismon,
        busiamon,
        busitime,
        businmon,
        paymon
    </sql>
    <!--获取公司编码-->
    <select id="getCno" resultType="pd" parameterType="pd">
        SELECT DISTINCT(t_subcom.cno),csname FROM t_subcom LEFT JOIN t_contract ON t_contract.cno=t_subcom.cno
    </select>
    <!--获取项目编码-->
    <select id="getPno" resultType="pd" parameterType="pd">
        SELECT DISTINCT(t_pm.pno),pdesc FROM t_pm LEFT JOIN  t_contract ON t_contract.pno=t_pm.pno
    </select>
    <!--获取客户编码-->
    <select id="getClino" resultType="pd" parameterType="pd">
        SELECT DISTINCT(t_client.clino),clisname FROM t_client LEFT JOIN  t_contract ON t_contract.clino=t_client.clino
    </select>
    <!--获取供应商编码-->
    <select id="getSupno" resultType="pd" parameterType="pd">
        SELECT DISTINCT(t_supplier.supno),supsname FROM t_supplier LEFT JOIN  t_contract ON t_contract.clino=t_supplier.supno
    </select>
    <!--获取销售列表-->
    <select id="findSellContract" resultType="pd" parameterType="pd">
        SELECT b.conid,b.pno,b.isarc,b.cno,b.isaudit,b.place,b.busiexp,b.paymet,b.clino,b.conno,b.state,b.signtime,b.type,b.consmon,b.asign,b.bsign,b.purno,b.isarc,b.busismon,b.busiexp,b.paymet,c.conmid,c.connmon,e.invmid,e.invnmon,f.csname,g.clisname,h.pdesc
        FROM t_contract b
        LEFT JOIN (SELECT * FROM( SELECT * FROM t_contmon ORDER BY conmid DESC) AS a GROUP BY conid ) c ON c.conid=b.conid
        LEFT JOIN (SELECT * FROM( SELECT * FROM t_invmon ORDER BY invmid DESC) AS d GROUP BY conid ) e ON e.conid=b.conid
        LEFT JOIN t_subcom f ON b.cno=f.cno
        LEFT JOIN t_client g ON b.clino=g.clino
        LEFT JOIN t_pm h ON b.pno=h.pno
        HAVING  1=1
        <if test="clino != null and clino != ''">
            AND clino = #{clino}
        </if>
        <if test="cno != null and cno != ''">
            AND cno = #{cno}
        </if>
        <if test="state != null and state != ''">
            AND state=#{state}
        </if>
        <if test="isarc != null and isarc != ''">
            AND isarc=#{isarc}
        </if>
        <if test="isaudit != null and isaudit != ''">
            AND isaudit=#{isaudit}
        </if>
        <if test="signtime1 != null and signtime1 != ''">
            AND (signtime BETWEEN DATE_FORMAT(#{signtime1},'%Y-%m-%d') AND DATE_FORMAT(#{signtime2},'%Y-%m-%d'))
        </if>
        <if test="connmon != null and connmon!=''">
            and connmon == #{connmon}
        </if>
        <if test="invnmon != null and invnmon!=''">
            and invnmon == #{invnmon}
        </if>
<!--        <if test="connmon == 0 and connmon!='' and invnmon==''">-->
<!--            and (connmon != 0 OR connmon IS NULL)-->
<!--        </if>-->
<!--        <if test="connmon == 1 and connmon!='' and invnmon==''">-->
<!--            and connmon = 0-->
<!--        </if>-->
<!--        <if test="invnmon == 0 and invnmon!='' and connmon == ''">-->
<!--            and (invnmon != 0 OR invnmon IS NULL)-->
<!--        </if>-->
<!--        <if test="invnmon == 1 and invnmon!='' and connmon == ''">-->
<!--            and invnmon = 0-->
<!--        </if>-->
<!--        <if test="connmon == 0 and invnmon == 0 and connmon!='' and invnmon!=''">-->
<!--            AND (connmon != 0 OR connmon IS NULL OR invnmon != 0 OR invnmon IS NULL)-->
<!--        </if>-->
<!--        <if test="connmon == 1 and invnmon == 1 and connmon!='' and invnmon!=''">-->
<!--            AND (connmon = 0 OR invnmon = 0)-->
<!--        </if>-->
<!--        <if test="connmon == 0 and invnmon == 1 and connmon!='' and invnmon!=''">-->
<!--            AND (connmon != 0 OR connmon IS NULL OR invnmon = 0)-->
<!--        </if>-->
<!--        <if test="connmon == 1 and invnmon == 0 and connmon!='' and invnmon!=''">-->
<!--            AND (connmon = 0  OR invnmon != 0 OR invnmon IS NULL)-->
<!--        </if>-->
        <if test="state != null and state != ''">
            AND state=#{state}
        </if>
        <if test="keywords!= null and keywords != ''">
            AND
            (
            b.clino LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            b.cno LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            b.pno LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            b.conno LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            b.place LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            b.paymet LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            b.busiexp LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            b.consmon LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            b.busismon LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            b.signtime LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            b.type LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            b.consmon LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            c.connmon LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            e.invnmon LIKE CONCAT(CONCAT('%', #{keywords}),'%') or
            f.csname LIKE CONCAT(CONCAT('%', #{keywords}),'%') or
            g.clisname LIKE CONCAT(CONCAT('%', #{keywords}),'%') or
            h.pdesc LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            )
        </if>
        AND (TYPE='S' or TYPE = 'Q')
    </select>
    <!--获取采购列表-->
    <select id="findPurContract" resultType="pd" parameterType="pd">
        SELECT b.conid,b.pno,b.isarc,b.cno,b.isaudit,b.place,b.busiexp,b.paymet,b.clino,b.conno,b.state,b.signtime,b.type,b.consmon,b.asign,b.bsign,b.purno,b.isarc,b.busismon,b.busiexp,b.paymet,c.conmid,c.connmon,e.invmid,e.invnmon,f.csname,g.supsname,h.pdesc
        FROM t_contract b
        LEFT JOIN (SELECT * FROM( SELECT * FROM t_contmon ORDER BY conmid DESC) AS a GROUP BY conid ) c ON c.conid=b.conid
        LEFT JOIN (SELECT * FROM( SELECT * FROM t_invmon ORDER BY invmid DESC) AS d GROUP BY conid ) e ON e.conid=b.conid
        LEFT JOIN t_subcom f ON b.cno=f.cno
        LEFT JOIN t_supplier g ON b.clino=g.supno
        LEFT JOIN t_pm h ON b.pno=h.pno
        HAVING  1=1
        <if test="clino != null and clino != ''">
            AND clino = #{clino}
        </if>
        <if test="cno != null and cno != ''">
            AND cno = #{cno}
        </if>
        <if test="state != null and state != ''">
            AND state=#{state}
        </if>
        <if test="isarc != null and isarc != ''">
            AND isarc=#{isarc}
        </if>
        <if test="isaudit != null and isaudit != ''">
            AND isaudit=#{isaudit}
        </if>
        <if test="signtime1 != null and signtime1 != ''">
            AND (signtime BETWEEN DATE_FORMAT(#{signtime1},'%Y-%m-%d') AND DATE_FORMAT(#{signtime2},'%Y-%m-%d'))
        </if>
        <if test="connmon != null and connmon!=''">
            and connmon == #{connmon}
        </if>
        <if test="invnmon != null and invnmon!=''">
            and invnmon == #{invnmon}
        </if>
<!--        <if test="connmon == 0 and connmon!='' and invnmon==''">-->
<!--            and (connmon != 0 OR connmon IS NULL)-->
<!--        </if>-->
<!--        <if test="connmon == 1 and connmon!='' and invnmon==''">-->
<!--            and connmon = 0-->
<!--        </if>-->
<!--        <if test="invnmon == 0 and invnmon!='' and connmon == ''">-->
<!--            and (invnmon != 0 OR invnmon IS NULL)-->
<!--        </if>-->
<!--        <if test="invnmon == 1 and invnmon!='' and connmon == ''">-->
<!--            and invnmon = 0-->
<!--        </if>-->
<!--        <if test="connmon == 0 and invnmon == 0 and connmon!='' and invnmon!=''">-->
<!--            AND (connmon != 0 OR connmon IS NULL OR invnmon != 0 OR invnmon IS NULL)-->
<!--        </if>-->
<!--        <if test="connmon == 1 and invnmon == 1 and connmon!='' and invnmon!=''">-->
<!--            AND (connmon = 0 OR invnmon = 0)-->
<!--        </if>-->
<!--        <if test="connmon == 0 and invnmon == 1 and connmon!='' and invnmon!=''">-->
<!--            AND (connmon != 0 OR connmon IS NULL OR invnmon = 0)-->
<!--        </if>-->
<!--        <if test="connmon == 1 and invnmon == 0 and connmon!='' and invnmon!=''">-->
<!--            AND (connmon = 0  OR invnmon != 0 OR invnmon IS NULL)-->
<!--        </if>-->
        <if test="state != null and state != ''">
            AND state=#{state}
        </if>
        <if test="keywords!= null and keywords != ''">
            AND
            (
            b.clino LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            b.cno LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            b.pno LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            b.conno LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            b.place LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            b.paymet LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            b.busiexp LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            b.consmon LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            b.busismon LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            b.signtime LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            b.type LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            b.consmon LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            c.connmon LIKE CONCAT(CONCAT('%', #{keywords}),'%') OR
            e.invnmon LIKE CONCAT(CONCAT('%', #{keywords}),'%') or
            f.csname LIKE CONCAT(CONCAT('%', #{keywords}),'%') or
            g.supsname LIKE CONCAT(CONCAT('%', #{keywords}),'%') or
            h.pdesc LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            )
        </if>
         AND (TYPE='B' or TYPE = 'Q')
    </select>
    <select id="maxConid" resultType="pd" parameterType="pd">
        SELECT max(conid) as conid FROM t_contract
    </select>
    <!--获取一个合同对象-->
    <select id="findContractById" resultType="com.fh.pojo.tbcontract" parameterType="pd">
        SELECT * FROM t_contract WHERE conid=#{conid}
    </select>
    <!--获取合同金额列表-->
    <select id="findContmon" resultType="com.fh.pojo.tbcontmon" parameterType="pd">
        SELECT * FROM t_contmon WHERE conid=#{conid}
    </select>
    <!--获取开票金额列表-->
    <select id="findInvmon" resultType="com.fh.pojo.tbinvmon" parameterType="pd">
        SELECT * FROM t_invmon WHERE conid=#{conid}
    </select>
    <!--获取商务金额列表-->
    <select id="findBusimon" resultType="com.fh.pojo.tbbusimon" parameterType="pd">
        SELECT * FROM t_busimon WHERE conid=#{conid}
    </select>
    <!-- 根据最大时间查找最后一条插入的记录 -->
    <select id="lastContmon" resultType="com.fh.pojo.tbcontmon" parameterType="pd">
        SELECT
        *
        FROM (SELECT * FROM t_contmon ORDER BY conmid DESC) AS a
        WHERE conid=#{conid}
        GROUP BY conid
    </select>
    <select id="lastInvmon" resultType="com.fh.pojo.tbinvmon" parameterType="pd">
        SELECT
        *
        FROM( SELECT * FROM t_invmon ORDER BY invmid DESC) AS a
        WHERE conid=#{conid}
        GROUP BY conid
    </select>
    <select id="lastBusimon" resultType="com.fh.pojo.tbbusimon" parameterType="pd">
        SELECT
        *
        FROM( SELECT * FROM t_busimon ORDER BY busimid DESC) AS a
        WHERE conid=#{conid}
        GROUP BY conid
    </select>

    <delete id="deleteContract" parameterType="pd">
        DELETE FROM t_contract WHERE conid=#{conid}
    </delete>

    <delete id="deleteContmon" parameterType="pd">
        DELETE FROM t_contmon WHERE conmid=#{conmid}
    </delete>

    <delete id="deleteInvmon" parameterType="pd">
        DELETE FROM t_invmon WHERE invmid=#{invmid}
    </delete>

    <delete id="deleteBusimon" parameterType="pd">
        DELETE FROM t_busimon WHERE busimid=#{busimid}
    </delete>

    <insert id="insertContract" parameterType="com.fh.pojo.tbcontract">
        insert into
          t_contract
          (
        cno,
        pno,
        clino,
        conno,
        signtime,
        purno,
        asign,
        bsign,
        type,
        consmon,
        busismon,
        isarc,
        place,
        paymet,
        busiexp,
        state,
        isaudit
          )
        values
          (
           #{cno},
           #{pno},
           #{clino},
           #{conno},
           #{signtime},
           #{purno},
           #{asign},
           #{bsign},
           #{type},
           #{consmon},
           #{busismon},
           #{isarc},
           #{place},
           #{paymet},
           #{busiexp},
           #{state},
           #{isaudit}
          )
    </insert>
    <insert id="insertContract1" parameterType="pd">
        insert into
        t_contract
        (
        cno,
        pno,
        clino,
        conno,
        signtime,
        purno,
        asign,
        bsign,
        type,
        consmon,
        busismon,
        isarc,
        place,
        paymet,
        busiexp,
        state,
        isaudit
        )
        values
        (
        #{cno},
        #{pno},
        #{clino},
        #{conno},
        #{signtime},
        #{purno},
        #{asign},
        #{bsign},
        #{type},
        #{consmon},
        #{busismon},
        #{isarc},
        #{place},
        #{paymet},
        #{busiexp},
        #{state},
        #{isaudit}
        )
    </insert>
    <insert id="insertContmon" parameterType="com.fh.pojo.tbcontmon" >
         insert into
          t_contmon
          (
            conid,
            conamon,
            connmon,
            paymon,
            paytime,
            username,
            cztime
          )
        values
          (
           #{conid},
           #{conamon},
           #{connmon},
           #{paymon},
           #{paytime},
           #{username},
           #{cztime}
          )
    </insert>
    <insert id="insertInvmon" parameterType="com.fh.pojo.tbinvmon" >
        insert into
        t_invmon
        (
        conid,
        invtime,
        invamon,
        invcontent,
        tax,
        invnmon,
        paymon,
        username,
        cztime
        )
        values
        (
        #{conid},
        #{invtime},
        #{invamon},
        #{invcontent},
        #{tax},
        #{invnmon},
        #{paymon},
        #{username},
        #{cztime}
        )
    </insert>
    <insert id="insertBusimon" parameterType="com.fh.pojo.tbbusimon" >
        insert into
        t_busimon
        (
        conid,
        busiamon,
        busitime,
        businmon,
        paymon,
        username,
        cztime,
        payee,
        remark
        )
        values
        (
        #{conid},
        #{busiamon},
        #{busitime},
        #{businmon},
        #{paymon},
        #{username},
        #{cztime},
        #{payee},
        #{remark}
        )
    </insert>
    <insert id="insertContmon1" parameterType="pd" >
        insert into
        t_contmon
        (
        conid,
        conamon,
        connmon,
        paymon,
        paytime,
        username,
        cztime
        )
        values
        (
        #{conid},
        #{conamon},
        #{connmon},
        #{paymon},
        #{paytime},
        #{username},
        #{cztime}
        )
    </insert>
    <insert id="insertInvmon1" parameterType="pd" >
        insert into
        t_invmon
        (
        conid,
        invtime,
        invamon,
        invcontent,
        tax,
        invnmon,
        paymon,
        username,
        cztime
        )
        values
        (
        #{conid},
        #{invtime},
        #{invamon},
        #{invcontent},
        #{tax},
        #{invnmon},
        #{paymon},
        #{username},
        #{cztime}
        )
    </insert>
    <insert id="insertBusimon1" parameterType="pd" >
        insert into
        t_busimon
        (
        conid,
        busiamon,
        busitime,
        businmon,
        paymon,
        username,
        cztime,
        payee,
        remark
        )
        values
        (
        #{conid},
        #{busiamon},
        #{busitime},
        #{businmon},
        #{paymon},
        #{username},
        #{cztime},
        #{payee},
        #{remark}
        )
    </insert>
    <update id="updateContractById" parameterType="com.fh.pojo.tbcontract">
        update
          t_contract
        set
          cno=#{cno},
          pno=#{pno} ,
          clino=#{clino},
          conno=#{conno},
          signtime =#{signtime},
          purno =#{purno},
          asign =#{asign},
          bsign =#{bsign},
          type =#{type},
          consmon =#{consmon},
          busismon=#{busismon},
          isarc =#{isarc},
          place =#{place},
          paymet =#{paymet},
          busiexp =#{busiexp},
          state =#{state},
          isaudit =#{isaudit}
        where
          conid=#{conid}
    </update>
    <update id="updateContmonById" parameterType="com.fh.pojo.tbcontmon">
        update
          t_contmon
        set
          conid=#{conid},
          conamon=#{conamon},
          connmon=#{connmon},
          paymon=#{paymon},
          paytime =#{paytime},
          username =#{username},
          cztime =#{cztime}
        where
         conmid=#{conmid}
    </update>
    <update id="updateInvmonById" parameterType="com.fh.pojo.tbinvmon">
        update
        t_invmon
        set
        conid=#{conid},
        invtime=#{invtime} ,
        invamon=#{invamon},
        invcontent=#{invcontent},
        tax =#{tax},
        invnmon =#{invnmon},
        paymon =#{paymon},
        username =#{username},
        cztime =#{cztime}
        where
        invmid=#{invmid}
    </update>
    <update id="updateBusimonById" parameterType="com.fh.pojo.tbbusimon">
        update
        t_busimon
        set
        conid=#{conid},
        busiamon=#{busiamon},
        busitime=#{busitime},
        businmon=#{businmon},
        paymon=#{paymon},
        username=#{username},
        cztime=#{cztime},
        payee=#{payee},
        remark=#{remark}
        where
        busimid=#{busimid}
    </update>

    <select id="conWord" parameterType="pd" resultType="pd">
         SELECT distinct cno FROM t_subcom WHERE csname LIKE CONCAT(CONCAT('%', #{keywords}),'%')
    </select>
    <select id="clinoWord" parameterType="pd" resultType="pd">
         SELECT distinct clino FROM t_client WHERE clisname LIKE CONCAT(CONCAT('%', #{keywords}),'%')
    </select>
    <select id="supnoWord" parameterType="pd" resultType="pd">
         SELECT distinct supno FROM t_supplier WHERE supsname LIKE CONCAT(CONCAT('%', #{keywords}),'%')
    </select>

</mapper>